name: Build Model
on: [workflow_dispatch]

jobs:
  Preprocess-Data:
    runs-on: ubuntu-latest
    env: 
      MLFLOW_TRACKING_URI: http://localhost:5000

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13.2' 
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Run Local MLFlow
        run: poetry run mlflow server --port 5000 &
      - name: Training
        id: training
        run: poetry run python ./MLProject/modelling.py
      - name: Print Run ID
        run: |
          echo "Run ID: ${{ steps.training.mlflow_run_id }}"
      - name: Zip Model for Release
        run: zip -r model.zip model/
      - name: Release Model
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          body: |
            Run ID: ${{ steps.training.mlflow_run_id }}
          name: v${{ github.run_number }}
          files: model.zip