name: Build Model
on: [workflow_dispatch]

permissions:
  contents: write

jobs:
  Build-Model:
    runs-on: ubuntu-latest
    # env: 
    #   MLFLOW_TRACKING_URI: http://localhost:5000

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13.2' 
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      # - name: Run Local MLFlow
      #   run: poetry run mlflow server --port 5000 &
      - name: Login to DagsHub
        run: poetry run dagshub login --token ${{ secrets.DAGSHUB_TOKEN }}
      - name: Training
        id: training
        run: poetry run mlflow run ./MLProject  --env-manager local
        env:
          MLFLOW_TRACKING_USERNAME: ${{ vars.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ vars.DAGSHUB_USERNAME }}/${{ vars.DAGSHUB_REPO }}.mlflow
          DAGSHUB_USERNAME: ${{ vars.DAGSHUB_USERNAME }}
          DAGSHUB_REPO: ${{ vars.DAGSHUB_REPO }}
      - name: Print Run ID
        run: |
          echo "Run ID: ${{ steps.training.outputs.mlflow_run_id }}"
      - name: Download Model
        run: poetry mlflow artifacts download -r ${{ steps.training.outputs.mlflow_run_id }} -d model
        env:
          MLFLOW_TRACKING_USERNAME: ${{ vars.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ vars.DAGSHUB_USERNAME }}/${{ vars.DAGSHUB_REPO }}.mlflow
      - name: Zip Model for Release
        run: zip -r model.zip model/
      - name: Release Model
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          body: |
            Run ID: ${{ steps.training.outputs.mlflow_run_id }}
          name: v${{ github.run_number }}
          files: model.zip
      - name: Build Docker Image using MLflow
        run: |
          poetry run mlflow models build-docker \
            -m model \
            -n "${{ vars.DOCKER_IMAGE }}:v${{ github.run_number }}" \
            --install-java False
      - name: Tag Image as Latest
        run: |
          docker tag "${{ vars.DOCKER_IMAGE }}:v${{ github.run_number }}" "${{ vars.DOCKER_IMAGE }}:latest"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push Docker Image
        run: |
          docker push "${{ vars.DOCKER_IMAGE }}:v${{ github.run_number }}"
          docker push "${{ vars.DOCKER_IMAGE }}:latest"